<h2>Here's Your Magic Link!</h2>
<p>Hey <%= user.name %>!</p>
<p>
    You requested a Magic Link to log into Splttr. Click this link to log in. It expires in 60
    minutes and can only be used once.
</p>
<p><a href="<%= link %>"><%= link %></a></p>
<p>
    If you didn't request this link, don't worry. Someone else may have typed your email address
    in the login form, but without this link they can't get in.
</p>
<p>
    This email was sent from an unmonitored address. Replies won't be received by a real person.
</p>
